<div class="container" style="margin-top: 20px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Upload and Download Files</h4>
    </div><br>
      <form enctype="multipart/form-data">
        <fieldset>
          <div class="form-group">
            <div>
              <input type="file" (change)="onUploadFiles($event.target.files)" name="files" multiple class="form-control" />

            </div>
          </div>
        </fieldset>
      </form>

      <br>




    </div>

    </div>
